.bread-crumb {
    display: flex;
    gap: .625rem;
    margin-bottom: 1rem;

    a, span {
        font-size: .7rem;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: .125rem;
    }

    @media screen and (max-width: 600px) {
        gap: .25rem;

        a, span {
            font-size: .6rem;
            letter-spacing: .125rem;
        }
    }
}