.bread-crumb {
    display: flex;
    gap: .625rem;
    margin-bottom: 1rem;

    a, span {
        font-size: 12px;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: .125rem;
    }
}