@import "../../common/mixins.module.scss";

.contact-wrapper {
    @include hero-wrapper;
    background-image: url("/images/projects/piazza/living-room.png");

    .contact-main {
        margin-top: 7rem;
    }

    @media screen and (max-width: 600px) {
        .contact-main {
            margin-top: 3.25rem;
        }
    } 
}