.contactWrapper1 {
    position: relative;
    height: 450px; 
    background-image: url("/images/projects/piazza/living-room.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    color: #fff;
    padding: 3rem 5rem;

    p, h1, a {
        position: relative;
        z-index: 10;
    }

    .contactMain1 {
        width: 50%;
        padding-left: 3rem;
        margin-top: 6rem;

        h1 {
            font-size: 3rem;
            font-weight: 600;
            line-height: 2.75rem;
            text-transform: capitalize;
            margin-bottom: 1.875rem;
        }

        p {
            font-size: 1.25rem;
            line-height: 1.925rem;
            text-transform: capitalize;
        }
    }
}