.projectsWrapper{
    padding: 7rem 5rem;
}

.projectsHeader {
    padding-left: 1rem;
    margin-bottom: 3rem;

    h1 {
        font-size: 2rem;
        text-transform: capitalize;
        margin-bottom: .325rem;
    }

    p:nth-child(1) {
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: .125rem;
        margin-bottom: .5rem;
    }

    p:nth-child(3) {
        text-transform: capitalize;
        margin-bottom: 1rem;
    }

    button {
        font-size: 11px;
        text-transform: uppercase;
        padding: .5rem;
        background: transparent;
        padding: .825rem .625rem;
        border: 1px solid #222;
        outline: none;
        cursor: pointer;
    }
}

.projectsContent {
    display: flex;
    gap: .75rem;

    a:nth-child(1) {
        margin-top: 4rem;
    }

    a:nth-child(3) {
        margin-top: -4rem;
    }
}

.projectLink {
    position: relative;
    display: block;
    width: 30%;
    height: 60%;
    margin: 0 auto;
    cursor: pointer;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 0.25rem;
        transition: transform 350ms ease-in-out;
    }

    &:hover img {
        transform: scale(1.15);
    }

    &:hover .projectTitle::after {
        width: 100%;
    }
}

.projectDesc {
    position: absolute;
    left: 0;
    bottom: -.5rem;
    width: 100%;
    color: #fff;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 45%, rgba(155,124,98,.1) 100%);
    padding: 1.75rem 1.325rem;
    border-radius: 0.25rem;

    .projectTitle {
        position: relative;
        font-size: 1.375rem;
        text-transform: capitalize;
        width: fit-content;

        &::after {
            content: "";
            position: absolute;
            background-color: #fff;
            height: 1px;
            width: 0;
            left: 0;
            bottom: -5px;
            transition: 0.3s;
        }
    }
    

    p:nth-child(1) {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: .125rem;
        margin-bottom: .5rem;
    }

}