.stats-wrapper {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding: 6rem 0;
    border-top: 1px solid #e7d9c3;
    border-bottom: 1px solid #e7d9c3;

    .stat-wrapper {
        position: relative;
        text-align: center;

        h1 {
            font-size: 2.5rem;
            margin-bottom: .375rem;
        }
        p {
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: .125rem;
        }

        .stat-icon-wrapper {
            display: grid;
            place-items: center;
            height: 64px;
            width: 64px;
            margin: 0 auto 1.5rem;
            background-color: #f3eee7;
            border-radius: 50%;

            svg {
                font-size: 2rem;
            }
        }
    }

}

.odometer.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
    -webkit-transition-duration: 5s !important;
    -moz-transition-duration: 5s !important;
    -ms-transition-duration: 5s !important;
    -o-transition-duration: 5s !important;
    transition-duration: 5s !important
}