.stats-wrapper {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding: 6rem 0;
    background-color: #f6f3ee;

    .stat-wrapper {
        position: relative;
        text-align: center;

        h2 {
            font-family: "Roboto" !important;
            font-size: 2.625rem;
            font-weight: 400;
            margin-bottom: .375rem;
        }

        p {
            font-size: .9rem;
            text-transform: uppercase;
            letter-spacing: .125rem;
        }

        .stat-icon-wrapper {
            display: grid;
            place-items: center;
            height: 64px;
            width: 64px;
            margin: 0 auto 1.5rem;
            background-color: white;
            box-shadow: 0 6px 10px #0000000a,0 2px 4px #0000000a;
            border-radius: 50%;

            svg {
                font-size: 2rem;
            }
        }
    }

    @media screen and (max-width: 1024px) {
        padding: 4.5rem 1.5rem;
    }

    @media screen and (max-width: 600px) {
        display: grid; 
        grid-template-rows: repeat(2, 1fr); 
        grid-template-columns: repeat(2, 175px);
        justify-items: center;
        gap: 1.5rem 0rem; 
        padding: 2.5rem 0;

        .stat-wrapper {
            text-align: center;

            h2 {
                font-size: 1.75rem;
                margin-bottom: .25rem;
            }

            p {
                font-size: .8rem;
                text-transform: uppercase;
                letter-spacing: .06rem;
            }

            .stat-icon-wrapper {
                margin: 0 auto 1rem;
            }
        }
    }
}

.odometer.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
    -webkit-transition-duration: 5s !important;
    -moz-transition-duration: 5s !important;
    -ms-transition-duration: 5s !important;
    -o-transition-duration: 5s !important;
    transition-duration: 5s !important
}
