.main-btn {
    position: relative;
    display: inline-flex;
    width: fit-content;
    font-size: 1rem;
    font-family: inherit;
    color: #000;
    align-items: center;
    text-transform: capitalize;
    text-decoration: none;
    padding: .875rem 1.375rem .875rem 2.5rem;
    margin-top: 1.5rem;
    background-color: white;
    outline: none;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    overflow: hidden;
    transition: all 450ms cubic-bezier(0.35, 0, 0, 1);

    &.variant1 {
        box-shadow: 0 6px 10px #0000000a,0 2px 4px #0000000a;
    }

    &.variant2 {
        box-shadow: rgba(60, 64, 67, 0.15) 0px 1px 3px 0.75px, rgba(60, 64, 67, 0.15) 0px 1px 3px 0.75px;            
    }

    span {
        position: relative;
        font-weight: 500;
        text-transform: uppercase;
        z-index: 1;
        transition: color 450ms cubic-bezier(0.35, 0, 0, 1);

        a {
            color: inherit;
            text-decoration: none;
        }
    }

    & svg:first-child {
        content: "";
        position: absolute;
        left: .5rem;
        font-size: 2.25rem;
        transition: all 450ms cubic-bezier(0.35, 0, 0, 1);
    }

    & svg:last-child {
        font-size: 1.825rem;   
        opacity: 0;
        position: absolute;
    }

    &:hover {
        padding: .875rem 2.75rem .875rem 1.275rem;
    }

    &:hover span {
        color: #fff;
    }

    &:hover svg:first-child {
        color: #6c5b4f;
        scale: 55;
    }

    &:hover svg:last-child {
        color: #fff;
        animation: slideInRight 450ms cubic-bezier(0.35, 0, 0, 1);     
        animation-fill-mode: forwards;  
    }

    @keyframes slideInRight {
        from { 
            opacity: 0;
            right: 1.5rem;
         } 
        to { 
            opacity: 1;
            right: .625rem;
         } 
    }

    @media screen and (max-width: 600px) {
        padding: .825rem .875rem .825rem 1.75rem;

        & svg:first-child {
            content: "";
            position: absolute;
            left: 0;
            font-size: 2rem;
            transition: all 450ms cubic-bezier(0.35, 0, 0, 1);
        }

        span {
            font-size: .875rem;
        }
    }
}