.projectWrapper {
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 45%, rgba(155,124,98,.1) 100%);
}

.projectHero {
    height: 450px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    color: #fff;
    padding: 3rem 5rem;

    .projectMain {
        width: 50%;
        padding-left: 3rem;
    }

    h1 {
        font-size: 3rem;
        font-weight: 600;
        line-height: 2.75rem;
        text-transform: capitalize;
        margin-bottom: 1rem;
    }

    .snackBar {
        margin-bottom: 1rem;

        a, span {
            font-size: 12px;
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: .125rem;
        }

        a:nth-child(1) {
            margin-right: .375rem;
        }

        a:nth-child(2), span {
            margin-left: .375rem;
        }
    }
}

.specsWrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}

.spec {
    text-align: center;

    h3 {
        font-size: 2rem;
        font-weight: 600;
    }

    p {
        text-transform: capitalize;
    }
}