.project-wrapper {
    position: relative;
    height: 450px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    color: #fff;
    padding: 3rem 5rem;

    p, h1, h3, a {
        position: relative;
        z-index: 10;
    }
    
    .project-main {
        width: 50%;
        padding-left: 3rem;
        margin-top: 2.75rem;

        h1 {
            font-size: 3rem;
            line-height: 2.75rem;
            text-transform: capitalize;
            margin-bottom: 2rem;
        }
    
        p {
            margin-bottom: 1.75rem;
            line-height: 1.5rem;
        }

        .specs-wrapper {
            display: flex;
            justify-content: center;
            gap: 2rem;
            margin-top: 1rem;
            
            .spec {
                text-align: center;
            
                h3 {
                    font-size: 2rem;
                    font-weight: 500;
                }
            
                p {
                    text-transform: capitalize;
                }
            }
        }
    }
    
    @media screen and (max-width: 1024px) {
        padding: 3rem 1.5rem;
        
        .project-main {
            width: 75%;
            margin-top: 1.75rem;
        }
    }

    @media screen and (max-width: 600px) {
        & {
            height: 485px; 
            padding: 2.5rem 1rem;
        }

        .project-main {
            width: 100%;
            padding-left: 0;
            margin-top: 2.5rem;
        
            h1 {
                font-size: 2.625rem;
                margin-bottom: 1.5rem;
            }
        
            p {
                font-size: 1.125rem;
                line-height: 1.375rem;
            }

            .specs-wrapper {
                gap: 1.25rem;

                .spec {
                    h3 {
                        font-size: 1.75rem;
                    }
                }
            }
        }
    }   
}


