@import "../../common/mixins.module.scss";

.project-wrapper {
    @include hero-wrapper;

    .project-main {    
        margin-top: 2.75rem;

        p {
            margin-bottom: 1.75rem; 
        }

        .specs-wrapper {
            display: flex;
            justify-content: center;
            gap: 2rem;
            margin-top: 1rem;
            
            .spec {
                text-align: center;
                z-index: 10;
                
                h3 {
                    font-size: 2rem;
                    font-weight: 500;
                }
            
                p {
                    text-transform: capitalize;
                }
            }
        }
    }
    
    @media screen and (max-width: 1024px) {
        .project-main {
            margin-top: 3.25rem; 
        }
    }

    @media screen and (max-width: 825px) {
        .project-main {
            margin-top: 1.75rem; 
        }
    }

    @media screen and (max-width: 600px) {
        height: 485px;

        .project-main {
            h1 {
                margin-bottom: 1.5rem; 
            }

            .specs-wrapper {
                gap: 1.25rem;

                .spec {
                    h3 {
                        font-size: 1.75rem;
                    }

                    p {
                        max-width: 100%;
                    }
                }
            }
        }
    }   
}


