.contact-wrapper {
    display: flex;
    justify-content: center;
    gap: 7rem;
    padding: 5rem 7rem;

    .contact-item {
        margin-bottom: 2.5rem;
    
        p:nth-child(1) {
            font-weight: 700;
            margin-bottom: .5rem;
            text-transform: uppercase;
        }
    
        p:nth-child(2) {
            line-height: 1.475rem;
        }
    
        a {
            color: inherit;
            text-underline-offset: .4rem;
            text-decoration-thickness: 1px;
        }

        .socials-wrapper {
            margin-top: .925rem;
    
            svg {
                font-size: 1.375rem;
                color: #000;
                margin-right: .75rem;
            }
        }
    }
    
    .contact-form {
        width: 50%;

        .user-info {
            display: flex;
            gap: 2rem;
        }

        .form-group {
            margin-bottom: 3.5rem;
            width: 100%;
        
            input, textarea {
                width: 100%;
                padding: .75rem 0;
                font-size: 1.125rem;
                border: none;
                outline: none;
                border-bottom: 1.125px solid ;
                border-color: rgba(0, 0, 0, 0.25);
                transition: border-color 200ms ease-out;
        
                &:focus {
                    border-color: rgba(0, 0, 0, 0.8);
                }
            }
        
            label {
                display: block;
                font-size: .875rem;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: .725rem;
            }
        
            textarea {
                resize: none;
            }
        }    
    }

    .snackbar {
        position: absolute;
        bottom: 4rem;
        left: 4rem;
        border: 1px solid #000;
        border-radius: .25rem;
    
        div {
            font-size: .75rem;
            font-weight: 400;
            text-transform: uppercase;
        }
    }
    
    @media screen and (max-width: 1024px) {
        padding: 3rem 1.5rem;
        gap: 4rem;
    }

    @media screen and (max-width: 600px) {
        flex-direction: column;
        gap: 1rem;
        padding: 2.5rem 1.25rem;

        .contact-form {
            width: 100%;

            .form-group {
                margin-bottom: 1rem;
            }

            button {
                margin-bottom: 1rem;
            }
        }
    }
}



