.hero {
    background-color: #f3eee7;
}

.hero-text {
    padding: 4rem 0;
    width: 70%;
    margin: 0 auto;

    h1 {
        font-size: 4rem;
        font-weight: 400;
        line-height: 4rem;
        margin-bottom: 1.5rem;
    }

    p {
        font-size: 1.5rem;
    }
}

.hero-vid {
    display: block;
    width: 60%;
    margin: 0 auto;
    border: none;
    border-radius: 25px;
}


