.hero {
    background-color: #f6f3ee;

    .hero-text {
        padding: 3rem 0 4rem;
        width: 70%;
        margin: 0 auto;
    
        h1 {
            font-size: 5rem;
            font-weight: 400;
            line-height: 5.375rem;
            margin-bottom: 1.5rem;
        }
    
        p {
            font-size: 1.375rem;
            line-height: 1.875rem;
        }
    }
    
    .hero-vid {
        display: block;
        width: 70%;
        margin: 0 auto;
        border: none;
        border-radius: 25px;
    }

    @media screen and (max-width: 1024px) {
        .hero-text {
            padding: 2rem 0;
            width: 87%;
            margin: 0 auto;
        
            h1 {
                font-size: 3rem;
                line-height: 3rem;
            }
        
            p {
                font-size: 1.25rem;
                line-height: 1.675rem;
            }
        }

        .hero-vid {
            width: 99vw;
            border-radius: 0px;
            margin-top: 1.5rem;
        }
    }
}    

