.list-wrapper {
    display: flex;
    
    .text-list {
        width: 50%;
    
        div {
            margin: auto;
            width: 80%;
            
            .list-item-main {
                min-height: 100vh;
                width: 35vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
    
                h2 {
                    font-size: 2.25rem;
                    font-weight: 500;
                    margin-bottom: 1.25rem;
                }
    
                p:nth-child(1) {
                    font-size: .75rem;
                    text-transform: uppercase;
                    letter-spacing: .125rem;
                    font-weight: 800;
                    margin-bottom: 1rem;
                    width: fit-content;
                    padding: .5rem .75rem;
                    background-color: #f3eee7;
                    border-radius: .5rem;
                }
    
                p:nth-child(3) {
                    font-size: 1.1rem;
                    margin-bottom: 1.5rem;
                    line-height: 1.5rem;
                }
    
                a {
                    font-size: .975rem;
                    font-weight: 500;
                    color: inherit;
                    width: fit-content;
                    text-decoration: none;
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;
    
                    svg {
                        font-size: 1.375rem;
                        font-weight: 500;
                        margin-left: .75rem;
                        transition: transform .15s ease-out;
                    }
    
                    &:hover svg {
                        transform: translate(.15rem, -0.15rem);
                    }
                }
            }
        }
    }
    
    .img-list {
        width: 50%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    
        svg:nth-of-type(1) {
            color: rgba(0,0,0,.2);
            position: absolute;
            bottom: 3rem;
            left: -2rem;
            height: 12rem;
            width: 12rem;
            opacity: 0;
        }
    
        svg:nth-of-type(2) {
            color: rgba(0,0,0,.2);
            position: absolute;
            bottom: 2rem;
            right: 4rem;
            height: 38rem;
            width: 38rem;
            z-index: -1;
            opacity: 0;
        }
    
        div:nth-of-type(1) {
            position: absolute;
            right: 0;
            height: 72vh;
            width: 30vw;
            background-color: #f6f3ee;
            border-radius: .5rem
        }
    
        div:nth-of-type(2) {
            width: 40vw;
            height: 28vw;
            position: relative;
            overflow: hidden;
            border-radius: .5rem;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    
            .list-item-img {
                position: absolute;
                width: 100%;
                height: 100%;
    
                img {
                   width: 100%; 
                   height: 100%;
                   object-fit: fill; 
                }
            }
        }
    }
}    
