.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: .5rem 10rem;
}

.logo {
    color: #fff;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3.5rem;

    .navLink {
        position: relative;
        text-decoration: none;
        font-size: 12px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        padding: 1.25rem 0rem;

    }
    .navLink::after {
        content: "";
        position: absolute;
        background-color: #fff;
        height: 1px;
        width: 0;
        left: 0;
        bottom: 15px;
        transition: 0.3s;
    }
    .navLink:hover::after {
        width: 100%;
    }
}

.dropdown {
    position: relative;
    margin-top: -4px;
  }
  
.dropdownMenu {
    position: absolute;
    left: -20vw;
    display: flex;
    width: 40vw;
    background-color: white;
    margin-top: 3rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    pointer-events: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 250ms ease-in-out;

    &.active {
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
    }

    &.active + a::after {
        width: 100%;
    } 
}

.dropdownMenuTitles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    width: 25%;
    font-size: 14px;
    padding: .75rem;
    background-color: aliceblue;
}

.dropdownMenuLink {
    display: flex;
    align-items: center;
    color: inherit;
    gap: .125rem;
    text-decoration: none;
    cursor: pointer;
    transition: all 150ms linear;

    &.active {
        font-weight: 600;
        transform: translateX(6px);
    }
}

.dropdownMenuTitle {
    display: inline-block;
}

.dropdownMenuMain {
    width: 75%;
    display: flex;
    gap: 0.75rem;
    padding: .75rem;
}

.dropdownProjectMain {
    width: 70%;

    &p:nth-child(1) {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }

    &p:nth-child(2) {
        font-size: 12px;
    }
}

.dropdownProjectLink {
    font-size: 12px;
    color: #000;
}

.dropdownProjectImgWrapper {
    width: 200px;
    height: 100px;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 0.25rem;
    }
}
