.header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f3ee;
    padding: 0 10rem;
    border-bottom: 1px solid #e7d9c3;
    z-index: 20;
    transition: all .2s ease-out;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent; 
        z-index: -100;
        transition: all .2s ease-out; 
    }

    &.scrolled {
        background-color: transparent;
        border-color: #f0e8db;

        &::before {
            background-color: rgba(255, 255, 255, 0.75); 
            backdrop-filter: blur(4px);
        }
    }

    .logo {
        width: 125px;
    
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    
    .nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 3.5rem;
    
        .nav-link {    
            position: relative;
            display: inline-block;
            text-decoration: none;
            font-size: .825rem;
            color: #000;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 0.5px;
            padding: 1.775rem 0rem;
            cursor: pointer;
    
            svg {
                position: absolute;
                bottom: .25rem;
                left: 50%;
                transform: translateX(-50%) scale(0); 
                font-size: 2rem;
                opacity: .65;
                transition: transform 250ms ease-out;
            }
     
            &:hover svg {
                  transform: translateX(-50%) scale(1); 
            }
    
            &.active svg {
                  transform: translateX(-50%) scale(1); 
            }
        }

        & > button {
            display: none;
            background-color: transparent;
            outline: none;
            border: none;
        }
    }

    & > button {
        display: none;
        background-color: transparent;
        outline: none;
        border: none;
    }
    
    @media screen and (max-width: 1024px) {
        padding: .5rem 2.5rem;
    }

    @media screen and (max-width: 600px) {
        padding: .35rem 1rem;
        
        & > button {
            display: block;

            img {
                width: 30px;
                height: 30px;
                vertical-align: middle;
            }
        }

        .nav {
            position: fixed;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;
            height: 100vh;
            top: 0;
            right: 0;
            padding: 1.25rem;
            background-color: #f6f3ee;
            transform: translateX(100%);
            transition: transform 200ms ease-out;
            z-index: 30;
            gap: 1rem;

            &.active {
                transform: translateX(0);
            }

            & > button {
                display: block;
                margin-left: auto;
                
                svg {
                    font-size: 2.5rem;
                    opacity: .7;
                }
            }

            .nav-link {
                font-size: 1.75rem;
                font-weight: 400;
            }
        }
    }
}

.placeholder {
    height: 70px;

    @media screen and (max-width: 1024px) {
        height: 90px;
    }

    @media screen and (max-width: 600px) {
        height: 68px;
    }
}



