.overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 65%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.85) 20%, rgba(155,124,98,0) 100%);
}