.projects-hero {
    position: relative;
    background-image: url("/images/projects/piazza/living-room.png"); 
    height: 450px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    color: #fff;
    padding: 3rem 5rem;

    p, h1, a {
        position: relative;
        z-index: 10;
    }

    p:nth-child(3) {
        width: 50%;
    }

    h1 {
        font-size: 4rem;
        text-transform: capitalize;
        margin-top: 4.75rem;
        margin-bottom: 1.5rem;
    }

    p {
        line-height: 1.5rem;
    }
}