.projectsHero {
    position: relative;
    background-image: url("/images/projects/piazza/living-room.png"); 
    height: 450px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    color: #fff;
    padding: 3rem 5rem;

    p, h1, a {
        position: relative;
        z-index: 10;
    }

    h1, p:nth-child(3) {
        width: 50%;
        padding-left: 3rem;
    }

    h1 {
        font-size: 4.25rem;
        font-weight: 600;
        text-transform: capitalize;
        margin-bottom: 1rem;
    }
}