.projectsHero {
    background-image: url("/images/projects/piazza/living-room.png"); 
    height: 450px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    color: #fff;
    padding: 3rem 5rem;

    h1, p:nth-child(3) {
        width: 40%;
        padding-left: 3rem;
    }

    h1 {
        font-size: 3rem;
        font-weight: 600;
        text-transform: capitalize;
        margin-bottom: 1rem;
    }

    .snackBar {
        margin-bottom: 7rem;

        a {
            font-size: 12px;
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: .125rem;
        }

        a:nth-child(1) {
            margin-right: .25rem;
        }

        a:nth-child(2) {
            margin-left: .25rem;
        }
    }
}