@import "../../common/mixins.module.scss";

.projects-wrapper {
    @include hero-wrapper;
    background-image: url("/images/projects/piazza/living-room.png");

    .projects-main {
        width: 50%;
        padding-left: 3rem;
        margin-top: 4.75rem;
    }

    @media screen and (max-width: 600px) {
        margin-bottom: 2.5rem; 

        .projects-main {
            margin-top: 2.25rem;
        }
    }   
}