.about-wrapper {
    position: relative;
    height: 450px; 
    background-image: url("/images/projects/piazza/living-room.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    color: #fff;
    padding: 3rem 5rem;
    
    p, h1, a {
        position: relative;
        z-index: 10;
    }

    .about-main {
        width: 50%;
        padding-left: 3rem;
        margin-top: 4.75rem;

        
        p:nth-child(2) {
            margin-top: 1.75rem;
            font-size: 1.125rem;
        }

        h1 {
            font-size: 3.5rem;
            font-weight: 600;
            line-height: 2.75rem;
            text-transform: capitalize;
            margin-bottom: 1.75rem;
        }
    
        p {
            font-size: 1.175rem;
            line-height: 1.625rem;
        }
    }
}