@import "../../common/mixins.module.scss";

.about-wrapper {
    @include hero-wrapper; 
    background-image: url("/images/projects/piazza/living-room.png");

    .about-main {
        margin-top: 4.75rem;
    }
    
    @media screen and (max-width: 1024px) {
        .about-main {
            margin-top: 4rem; 
        }
    }

    @media screen and (max-width: 600px) {
        .about-main {
            margin-top: 1.5rem; 
        }
    }   
}