.aboutWrapper {
    position: relative;
    height: 450px; 
    background-image: url("/images/projects/piazza/living-room.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    color: #fff;
    padding: 3rem 5rem;

    p, h1, a {
        position: relative;
        z-index: 10;
    }

    .aboutMain {
        width: 50%;
        padding-left: 3rem;

        p:nth-child(2) {
            margin-bottom: 1rem;
        }
    }

    h1 {
        font-size: 3rem;
        font-weight: 600;
        line-height: 2.75rem;
        text-transform: capitalize;
        margin-bottom: 1.5rem;
    }
}