.sliderWrapper {
    padding: 4rem 10rem;
}

.imgSlidder {
    display: flex;
    margin: 0 auto;
    overflow: hidden;
    padding-left: 22%;
    gap: 1.5rem;

    .imgContent {
        transition: translate 300ms ease-in-out;

        p {
            text-align: center;
            margin-top: .5rem;
        }
    }

    .imgWrapper {
        width: 40vw;
        height: auto;
        background-color: aliceblue;

        img {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        p {
            position: absolute;
            bottom: -14px;
            opacity: .8;
        }
    }
}

.sliderController {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
    gap: 1.75rem;

    .buttonsWrapper {
        button:first-child {
            margin-right: 1.5rem;
        }
    
        button {
            font-size: 2.5rem;
            margin-top: .75rem;
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;
        }
    }
}
