.slider-wrapper {
    padding: 5rem 10rem 4rem;
    
    .img-slidder {
        display: flex;
        margin: 0 auto;
        overflow: hidden;
        gap: 1.5rem;
        margin-bottom: 1.25rem;
    
        .img-content {
            transition: translate 300ms ease-in-out;
    
            p {
                text-align: center;
                margin-top: .5rem;
            }
        }
    
        .img-wrapper {
            width: 40vw;
            height: auto;
            background-color: aliceblue;
    
            img {
                position: relative;
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
    
            p {
                position: absolute;
                bottom: -14px;
                opacity: .8;
            }
        }
    }
    
    .slider-controller {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 1rem;
        gap: 1rem;
    
        div:nth-child(1) {
            height: 1px;
            width: 100%;
            background-color: rgba(0, 0, 0, .3);
            margin-top: -.25rem;
        }
    
        .buttons-wrapper {
            display: flex;
            align-items: center;
        
            :first-child {
                margin-right: .275rem;
            }
    
            button {
                border: none;
                outline: none;
                background-color: #fff;
                cursor: pointer;
                z-index: 100;
    
                &:disabled { 
                    cursor: default;
                }
    
                svg {
                    font-size: 2.75rem;
                }
            }
        }
    }

    @media screen and (max-width: 1024px) {
        padding: 3rem 1.5rem;

        .img-slidder {
            .img-wrapper {
                width: 70vw;
            }    
        }
    }

    @media screen and (max-width: 600px) {
        padding: 2.5rem 1rem;

        .img-slidder {
            .img-wrapper {
                width: 100vw;
            }    
        }
    }
}
