.slider-wrapper {
    padding: 4rem 10rem;
}

.img-slidder {
    display: flex;
    margin: 0 auto;
    overflow: hidden;
    padding-left: 22%;
    gap: 1.5rem;

    .img-content {
        transition: translate 300ms ease-in-out;

        p {
            text-align: center;
            margin-top: .5rem;
        }
    }

    .img-wrapper {
        width: 40vw;
        height: auto;
        background-color: aliceblue;

        img {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        p {
            position: absolute;
            bottom: -14px;
            opacity: .8;
        }
    }
}

.slider-controller {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
    gap: 1.75rem;

    .buttons-wrapper {
        display: flex;
        align-items: center;

        button:first-child {
            margin-right: 1.5rem;

            svg {
                margin-right: -6px;
            }
        }
    
        button {
            display: grid;
            place-items: center;
            width: 34px;
            height: 34px;
            font-size: 1rem;
            border: 1.5px solid #000;
            border-radius: 50%;
            outline: none;
            background-color: #fff;
            cursor: pointer;
            z-index: 100;
            transition: filter 100ms ease-in;

            &:disabled { 
                cursor: default;
            }

            &:hover {
                filter: brightness(.95);
            }

            &:hover:disabled {
                filter: none; 
            }
        }
    }
}
