@mixin hero-wrapper {    
    position: relative;
    height: 450px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    color: #fff;
    padding: 2.25rem 5rem 3rem;
    
    p, h1, a {
        position: relative;
        z-index: 10;
    }

    & > div:nth-child(2) {
        width: 55%;
        padding-left: 1rem;

        h1 {
            font-size: 3.5rem;
            line-height: 2.75rem;
            text-transform: capitalize;
            margin-bottom: 2rem;
        }
    
        p {
            font-size: 1.15rem;
            line-height: 1.625rem;
        }
    }
    
    @media screen and (max-width: 1024px) {
        padding: 2rem 1.5rem;
        
        & > div:nth-child(2) {
            width: 75%;
        }
    }

    @media screen and (max-width: 600px) {
        height: 320px; 
        padding: 1.75rem 1.25rem;

        & > div:nth-child(2) {
            width: 100%;
            padding-left: 0;
        
            h1 {
                font-size: 2rem;
                margin-bottom: 1rem;
            }
        
            p {
                font-size: 1rem;
                line-height: 1.375rem;
            }
        }
    }  
} 