.projectFeaturesWrapper {
    padding: 4rem 10rem;

    .projectFeaturesHeader {
        margin-bottom: 4rem;

        h2 {
            text-align: center;
            font-size: 1.625rem;
            font-weight: 400;
            text-transform: uppercase;
            opacity: .8;
            padding-bottom: 3rem;
        }

        hr {
            opacity: .5;
        }
    }
}


.projectFeaturesGrid {
    display: grid;
    gap: 2.75rem 6rem;
    grid-template-columns: repeat(2, 1fr);
}

.projectFeature {
    h3 {
        font-size: 1.325rem;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 1rem;
        opacity: .8;
    }
}