.project-features-wrapper {
    padding: 4rem 10rem;

    .project-features-header {
        margin-bottom: 4rem;

        h2 {
            text-align: center;
            font-size: 1.625rem;
            font-weight: 400;
            text-transform: uppercase;
            opacity: .8;
            padding-bottom: 3rem;
        }

        hr {
            opacity: .5;
        }
    }

    .project-features-grid {
        display: grid;
        gap: 2.75rem 6rem;
        grid-template-columns: repeat(2, 1fr);

        .project-feature {
            h3 {
                font-size: 1.325rem;
                font-weight: 400;
                text-transform: uppercase;
                margin-bottom: 1rem;
                opacity: .8;
            }
        }
    }

    @media screen and (max-width: 1024px) {
        padding: 3rem 1.5rem;

        .project-features-header {
            margin-bottom: 2.5rem;

            h2 {
                padding-bottom: 2rem;
            }
        }

        .project-features-grid {
            display: grid;
            gap: 2rem;
        }
    }

    @media screen and (max-width: 600px) {
        padding: 2.5rem 1.25rem;

        .project-features-header {
            margin-bottom: 2rem;

            h2 {
                padding-bottom: 2rem;
            }
        }
        
        .project-features-grid {
            display: grid;
            gap: 2rem;
            grid-template-columns: 1fr;
        }
    }
}
